<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>BBS demo</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">
    <link rel="stylesheet" href="/css/community.css">
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script src="/js/community.js" type="application/javascript"></script>
    <script src="https://cdn.jsdelivr.net/npm/dayjs@1.11.5/dayjs.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8" crossorigin="anonymous"></script>
</head>
<body>

<div th:insert="~{navigation :: nav}"></div>

<div class="container-fluid">
    <div class="row main">
        <div class="col-xl-9 col-12">
            <div class="col-12">
                <span th:text="${post.title}" style="font-size: 40px;"></span>
                <a th:href="@{'/post/' + ${post.id}}" style="float: right;"
                   th:if="${session.user!=null && session.user.id==post.creator}">
                    <i class="bi bi-pencil-square"></i>
                </a>
            </div>
            <hr>
            <div class="d-flex flex-row bd-highlight" style="margin-bottom: 20px;">
                <div class="p-2 bd-highlight">
                    <img th:src="${post.user.avatarUrl}" width="16" height="16" fill="currentColor">
                    <span class="list-text-info" th:text="${post.user.name}"></span>
                </div>
                <div class="p-2 bd-highlight">
                    <i class="bi bi-clock"></i>
                    <span class="list-text-info" th:text="${#calendars.format(post.gmtCreate,'yyyy-MM-dd HH:mm')}"></span>
                </div>
                <div class="p-2 bd-highlight">
                    <i class="bi bi-eye"></i>
                    <span class="list-text-info" th:text="${post.viewCount}"></span>
                </div>
                <div class="p-2 bd-highlight">
                    <i class="bi bi-chat"></i>
                    <span class="list-text-info" th:text="${post.commentCount}"></span>
                </div>
                <div class="p-2 bd-highlight">
                    <button type="button" class="btn btn-outline-info post-tag">
                        <span th:text="${post.tag}"></span>
                    </button>
                </div>
            </div>
            <hr>
            <div class="col-12" style="font-size: 20px;">
                <span th:text="${post.description}"></span>
            </div>
            <div class="col-12" style="margin-top: 20px;font-size: 14px;color: #999;">
                <span th:text="${'最后一次编辑于 ' + #calendars.format(post.gmtModified,'yyyy-MM-dd HH:mm')}"></span>
                <span style="float: right;">
                    <i class="bi bi-heart"></i>
                    <span class="list-text-info" th:text="${post.likeCount}"></span>
                </span>
            </div>
            <hr>
            <!--回帖列表-->
            <div class="col-12 p-2">
                <div style="text-align: center; margin-bottom:15px">
                    <h4><span class="commentNum" th:text="${post.commentCount} + '条回复'"></span></h4>
                </div>
                <div class="list-info"  th:each="comment : ${comments}">
                    <div class="d-flex">
                        <div class="flex-shrink-0">
                            <img th:src="${comment.user!= null ? comment.user.avatarUrl:'/images/default-avatar.png'}"
                                 style="width: 40px;height: 40px;border: 1px solid #ddd;border-radius: 20%;margin-right: 10px;"
                                 class="img-fluid">
                        </div>
                        <div>
                            <div>
                                <span th:text="${comment.user!= null ? comment.user.name:'已注销用户'}" style="align-self: center; font-size: 14px;"> </span>
                            </div>
                            <div>
                                <span th:text="${#calendars.format(comment.gmtCreate,'yyyy-MM-dd HH:mm')}" style="align-self: center; font-size: 14px;"></span>
                            </div>
                        </div>
                    </div>
                    <div class="col-12" style="margin-top: 10px; font-size: 16px;">
                        <span th:text="${comment.content}"></span>
                    </div>
                    <div class="col-12" style="margin-top: 10px; font-size: 14px;">
                        <button type="button" class="btn btn-labeled btn-outline-dark btn-sm"
                                onclick="thumbComments(this)">
                            <span class="btn-label"><i class="bi bi-heart"></i></span>
                            <span th:text="${comment.likeCount}"></span>
                        </button>
                        <!--二级评论-->
                        <button type="button" class="btn btn-labeled btn-outline-dark btn-sm ms-2"
                                data-bs-toggle="collapse" th:href="'#comment-' + ${comment.id}" role="button"
                                onclick="queryComments(this)"
                                aria-expanded="false" th:aria-controls="'comment-' + ${comment.id}">
                            <span class="btn-label"><i class="bi bi-chat-dots"></i></span>
                            <span th:text="${comment.commentCount}"></span>
                        </button>
                        <!--二级评论列表-->
                        <div class="collapse mt-2 ms-4" th:id="'comment-' + ${comment.id}">
                            <!--二级评论回复-->
                            <div class="d-flex" style="margin-bottom: 20px;margin-top: 20px;">
                                <img th:src="${session.user!= null ? session.user.avatarUrl:'/images/default-avatar.png'}"
                                     style="width: 40px;height: 40px;border: 1px solid #ddd;border-radius: 20%;margin-right: 10px;"
                                     class="img-fluid">
                                <div class="col-11" >
                                    <div class="mb-3">
                                        <input type="text" class="form-control mb-2" placeholder="点击输入回复" th:id="${'input-'+ comment.id}">
                                        <button type="submit" class="btn btn-success btn-commit btn-sm" onclick="commentToComment(this)" th:data-id="${comment.id}">提交</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

            <!--回复-->
            <div class="col-12">
                <div class="d-flex p-2" style="margin-bottom: 20px;margin-top: 20px;">
                    <img th:src="${session.user!= null ? session.user.avatarUrl:'/images/default-avatar.png'}"
                         style="width: 40px;height: 40px;border: 1px solid #ddd;border-radius: 20%;margin-right: 10px;"
                         class="img-fluid">
                    <span th:text="${session.user!= null ? session.user.name:'游客'}" style="align-self: center;"> </span>
                </div>
            </div>
            <div class="col-12" >
                <div class="mb-3">
                    <div class="form-floating">
                        <input type="hidden" id="post_id" th:value="${post.id}">
                        <textarea class="form-control" placeholder="Leave a comment here" id="comment_content" style="height: 100px"></textarea>
                        <label for="comment_content">点击输入回复</label>
                    </div>
                </div>
                <button type="submit" class="btn btn-success btn-commit" onclick="commentToPost()">提交</button>
            </div>
        </div>
        <div class="col-xl-3 col-12">
            <div class="col-12">
                <div class="posts-author-box" style="text-align: center;">
                    <div class="d-flex justify-content-center align-self-center">
                        <img th:src="${post.user.avatarUrl}" style="width: 80px;height: 80px;border: 1px solid #ddd;border-radius: 50%;" class="img-fluid">
                    </div>
                    <div class="text-center" style="height: 50px;font-size: 18px;font-weight: 500;line-height: 1.5;padding-top: 10px;">
                        <span th:text="${post.user.name}"></span>
                    </div>
                </div>
            </div>
            <hr>
            <div class="col-12">
                <h2>
                    TODO:相关话题
                </h2>
            </div>
        </div>
    </div>
</div>

</body>
</html>