<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>发布 - BBS demo</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">
  <link rel="stylesheet" href="css/community.css">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8" crossorigin="anonymous"></script>
</head>

<body>

<div th:insert="~{navigation :: nav}"></div>

<div class="container-fluid">
  <div class="row main">
    <div class="col-xl-9 col-12">
      <h2>
        <i class="bi bi-file-earmark-plus"></i>
        发表
      </h2>
      <hr>
      <form action="/post" method="post">
        <input type="hidden" name = "id" th:value="${id}">
        <div class="mb-3">
          <label for="title" class="form-label">标题</label>
          <input type="text" class="form-control" id="title" name="title" aria-describedby="titleHelp" th:value="${title}">
          <div id="titleHelp" class="form-text">标题尽量简洁清晰</div>
        </div>
        <div class="mb-3">
          <label for="description" class="form-label">内容</label>
          <textarea class="form-control" id="description" name="description" rows="10" th:text="${description}"></textarea>
        </div>
        <div class="mb-3">
          <label for="tag" class="form-label">标签</label>
          <input type="text" class="form-control" id="tag" name="tag" th:value="${tag}">
        </div>
      <span class="alert alert-danger" th:if="${error != null}" th:text="${error}"></span>
      <button type="submit" class="btn btn-success btn-commit">提交</button>
      </form>
    </div>
    <div class="col-xl-3 col-12">
      <h3>发布规范</h3>
      一、维持现状，保持不变。<br>
      二、制定新得中之人信息、塔照管制标准。<br>
      （比较符合大家的理想要求，但是制定大家都满意的标准是不可能的，所以难免会影响到部分吧友的正常讨论。吧务的处理标准也不能完全统一，可能会出现争议。）<br>
      三、对真人图片镇楼的内容进行“一刀切”管理，对帖子二楼及以下的塔照放宽。<br>
      （吧务操作比较方便，也可以对大家一视同仁，但是难免会很大程度上限制大家发帖类型。）<br>
      四、其他意见。<br>
    </div>
  </div>
</div>

</body>
</html>